
/* .whole_form{
    text-align: center;
} */
nav{
    background-color: #e3f2fd;
}
form{
    justify-content: center;
}

/* body {
    background-image: url("{{ url_for('static', filename='img/b3.png') }}");
  } */