
*{
    padding: 0;
    margin: 0; 
    font-family: 'Times New Roman';
}
body{
    text-align: center;
    background-color:rgb(150, 93, 36);

}
h1{
    color:rgb(58, 10, 136);
    margin:auto;
    width: 200px;
    padding: 10px;
}
form{
    display: center;
    margin:auto;
    width: 600px;
}

.button{
    margin-left:250px;
    overflow: visible;
    
}
/* .text{
    padding:15px;
    margin:auto;
    color: red;
    width: 500px;
    justify-content: center; 
    text-align: center;
    
  } */

  .text{
    color: red;
    padding:10px 20px ;
    margin-left: auto;
    margin-right: auto;
    width: 20em
  }

  .txt{
    color: red;
    padding:10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 20em
  }




    
