<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> -->
    <title>Recipes</title>


</head>

<body>

    <!-- <form method="post" action="/search">
        {% with messages = get_flashed_messages(category_filter=['search']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <label for="title"> Title to search for  </label>
        <input placeholder="Search" type="text" for="title" name="search_recipes">
        <input  type="submit" value="Search">
    </form> -->

    <nav class="navbar navbar-expand-lg navbar-light ">
        <h1 class="text-center">Savor</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
            </ul>
            <h1 class="text-center">Welcome {{user.first_name}}</h1>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes/new">Add a new recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/{{user.id}}">Profile</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- <div class="whole_form"> -->

    <form action="/create/recipe" method="post" class="col-7 p-4 my-4 bg-info text-dark mx-auto">
        <h1 class=" d-flex justify-content-center text-primary">Add A New Recipe</h1>
        {% with messages = get_flashed_messages(category_filter=['recipe']) %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <!-- <strong>Flash!!!!</strong> -->
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-between col-9">
            <div class="">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="NAME" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea name="DESCRIPTION" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Instructions:</label>
                    <textarea cols="30" rows="5" class="form-control" name="INSTRUCTION"></textarea>
                </div>
            </div>
            <div class="col-4 ">
                <div class="form-group">
                    <label>Date Made On:</label>
                    <input type="date" class="form-control" name="DATE_MADE_ON" />
                </div>
                <div>
                    <label>Under 30 Minutes?:</label>
                    <div class="input-group-text bg-dark">
                        <input type="radio" class="form-control" name="UNDER_30_MINUTES" value="Yes" />
                        <label class="text-warning">Yes</label>
                    </div>
                    <div class="input-group-text bg-dark">
                        <input type="radio" name="UNDER_30_MINUTES" value="No" class="form-control" />
                        <label class="text-warning">No</label>
                    </div>

                    <br>
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
        </div>
        </div>
    </form>
    <!-- </div> -->

    <!-- <script>
        $(document).ready(function () {
           var currentDate = new Date();
           $('.disableFuturedate').datepicker({
           format: 'dd/mm/yyyy',
           autoclose:true,
           endDate: "currentDate",
           maxDate: currentDate
           }).on('changeDate', function (ev) {
              $(this).datepicker('hide');
           });
           $('.disableFuturedate').keyup(function () {
              if (this.value.match(/[^0-9]/g)) {
                 this.value = this.value.replace(/[^0-9^-]/g, '');
              }
           });
        });
     </script> -->

    <!-- <script>
     var todayDate = new Date();
    var month = todayDate.getMonth()+1;
    var day = todayDate.getDate();
    var year = todayDate.getUTCFullYear();
    if(month < 0)
    month = '0' + month.toString();
    if(day < 10)
    day = '0' + day.toString();
    var maxDate = year + '-' + month + '-' + day;
    $('.disableFuturedate').attr('max', maxDate);
     </script> -->
</body>

</html>