<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>Edit Recipe</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Log out</a>
    <form action="/update/recipe/{{oneRecipe.id}}" method="post">
        <!-- <input type="hidden" name="user_id"/> -->
        {% with messages = get_flashed_messages(category_filter=['recipe']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <p>
            <label>Name:</label>
            <input type="text" name="NAME" value="{{oneRecipe.name}}" />
         </p>
         <p>
            <label>Description:</label>
            <textarea name="DESCRIPTION" >{{oneRecipe.description}}</textarea>
         </p>         
         <p>
            <label>Instructions:</label>
            <textarea name="INSTRUCTION" >{{oneRecipe.instruction}}</textarea>
         </p>
         <P>
            <label>Date Made On:</label>
            <input type="date" name="DATE_MADE_ON" value="{{oneRecipe.date_made_on.strftime('%Y-%m-%d')}}"/>
        </P>
        <P>
            <label>Under 30 Minutes?:</label>
            <input type="radio" name="UNDER_30_MINUTES" value="Yes" />
            <label>Yes</label>
            <input type="radio" name="UNDER_30_MINUTES" value="No" />
            <label>No</label>
        </P>
        <input type="submit" value="Update"/>
    </form>
</body>
</html>