<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login and registration</title>
</head>
<body>
    
    {% with messages = get_flashed_messages(category_filter=["register"]) %}     
        {% if messages %}                            
            {% for message in messages %}            
                <p class="text">{{message}}</p>                   
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Register</h1>
    <form action="/register" method="post">
       
        <p>
            <label class="col-sm-6 col-form-label" for="F_name">First Name:</label>
            <input class="col-sm-5" type="text" name="Fname"/>
        </p>
        <p>
            <label class="col-sm-6 col-form-label" for="L_name">Last Name:</label>
            <input class="col-sm-5" type="text" name="Lname"/>
        </p>
        <p>
            <label class="col-sm-6 col-form-label" for="email">Email:</label>
            <input class="col-sm-5" type="text" name="Email"/>
        </p>
        <p>
            <label class="col-sm-6 col-form-label" for="pw">Password:</label>
            <input class="col-sm-5" type="password" name="Password"/>
        </p>
        <p>
            <label class="col-sm-6  col-form-label" for="confirm_pw">Confirm_password:</label>
            <input class="col-sm-5" type="password" name="confirm_password"/>
        </p>
        <input class="button" type="submit" name="Register"/>
    </form>

    {% with messages = get_flashed_messages(category_filter=["login"]) %}     
        {% if messages %}      
        <!-- <h2 style="color:red;">AHHHH!!!!</h2>                      -->
            {% for message in messages %}            
            <p class="txt">{{message}}</p>            
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Login</h1>
    <form action="/login" method="post">
        <p>
            <label class="col-sm-6  col-form-label" for="email">Email:</label>
            <input class="col-sm-5" type="text" name="Email"/>
        </p>
        <p>
            <label class="col-sm-6  col-form-label" for="pw">Password:</label>
            <input class="col-sm-5" type="password" name="Password"/>
        </p>
        <input class="button" class="col-sm-2" type="submit" name="Login"/>
    </form>
</body>
</html>